<ng-container *ngIf="movies$ | async as movies">
    <div class="row justify-content-center gap-4">

        <div *ngFor="let movie of movies"
             class="card"
             style="width: 18rem;">
            <img [src]="movie.picture"
                 class="card-img-top"
                 alt="movie picture">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.description}}</p>
                <button>Add to favorites</button>
            </div>
        </div>
    </div>
</ng-container>